<!-- .resume -->
<div id="resume" class="content_2">
    <!-- .title -->
<h1 class="h-bloc">Resume - Personal Info</h1> 

<div class="row">

   <!-- .resume-right -->
    <div class="col-md-6">

        <!-- .title_content -->
        <!--<div class="title_content" style="float: none;">-->
            <!--<div class="text_content">Designs skills</div>-->
            <!--<div class="clear"></div>-->
        <!--</div>-->
        <!--&lt;!&ndash; /.title_content &ndash;&gt;-->
        <!---->
        <!--<div class="skills">-->
            <!--&lt;!&ndash; .skillbar &ndash;&gt;-->
            <!--<div class="skillbar clearfix" data-percent="95%">-->
                <!--<div class="skillbar-title"><span>Photoshop</span></div>-->
                <!--<div class="skillbar-bar"></div>-->
                <!--<div class="skill-bar-percent">95%</div>-->
            <!--</div>-->
    <!---->
            <!--&lt;!&ndash; /.skillbar &ndash;&gt;-->
            <!---->
            <!--&lt;!&ndash; .skillbar &ndash;&gt;-->
            <!--<div class="skillbar clearfix" data-percent="90%">-->
                <!--<div class="skillbar-title"><span>Illustrateur</span></div>-->
                <!--<div class="skillbar-bar"></div>-->
                <!--<div class="skill-bar-percent">90%</div>-->
            <!--</div>-->
            <!--&lt;!&ndash; /.skillbar &ndash;&gt;-->
            <!---->
            <!--&lt;!&ndash; .skillbar &ndash;&gt;-->
            <!--<div class="skillbar clearfix" data-percent="65%">-->
                <!--<div class="skillbar-title"><span>Indesign</span></div>-->
                <!--<div class="skillbar-bar"></div>-->
                <!--<div class="skill-bar-percent">65%</div>-->
            <!--</div>-->
            <!--&lt;!&ndash; /.skillbar &ndash;&gt;-->
            <!---->
            <!--&lt;!&ndash; .skillbar &ndash;&gt;-->
            <!--<div class="skillbar clearfix" data-percent="35%">-->
                <!--<div class="skillbar-title"><span>Flash</span></div>-->
                <!--<div class="skillbar-bar"></div>-->
                <!--<div class="skill-bar-percent">35%</div>-->
            <!--</div>-->
            <!--&lt;!&ndash; /.skillbar &ndash;&gt;-->
        <!--</div>-->
        
        
        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Programming Languages</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <div class="skills">
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="85%">
                <div class="skillbar-title"><span>SQL</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">85%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="75%">
                <div class="skillbar-title"><span>Oracle</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">75%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="60%">
                <div class="skillbar-title"><span>Java</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">60%</div>
            </div>
            <!-- /.skillbar -->
            
             <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="50%">
                <div class="skillbar-title"><span>R</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">50%</div>
            </div>
            <!-- /.skillbar -->

            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="60%">
                <div class="skillbar-title"><span>Python</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">60%</div>
            </div>
            <!-- /.skillbar -->
        </div>
        
         
        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Database Tools</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
            
        <div class="skills">       
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="85%">
                <div class="skillbar-title"><span>SQL Developer</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">90%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="70%">
                <div class="skillbar-title"><span>SQL Server</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">70%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="60%">
                <div class="skillbar-title"><span>MySQL</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">60%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="40%">
                <div class="skillbar-title"><span>MongoDB</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">40%</div>
            </div>
            <!-- /.skillbar -->

            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="40%">
                <div class="skillbar-title"><span>Hadoop</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">40%</div>
            </div>
            <!-- /.skillbar -->

            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="40%">
                <div class="skillbar-title"><span>Redis</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">40%</div>
            </div>
            <!-- /.skillbar -->


        </div>
        
        
        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Front End Skills</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <div class="skills">
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="60%">
                <div class="skillbar-title"><span>JavaScript</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">60%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="95%">
                <div class="skillbar-title"><span>Node.js</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">95%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="85%">
                <div class="skillbar-title"><span>AngularJS</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">85%</div>
            </div>
            <!-- /.skillbar -->

        </div>
        
        
        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Language Skills</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <div class="skills">
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="90%">
                <div class="skillbar-title"><span>English</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">90%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="80%">
                <div class="skillbar-title"><span>Mandarin</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">80%</div>
            </div>
            <!-- /.skillbar -->
            

            

        </div>
        
        
        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">My Resume</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <!-- .download_resume -->
        <a class="download" style="margin:0;float: left;" href="#">
            <span data-hover="Download My Resume"><i class="glyphicon glyphicon-download-alt"></i> Download My Resume</span>
        </a>
        <!-- /.download_resume -->

    </div>
     <!-- /.resume-right -->
     
     
     
     <!-- .resume-left -->
    <div class="col-md-6 resume-left">    
        <!-- .title_content -->
        <div class="title_content" style="margin-bottom:5px">
            <div class="text_content">Experience</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <!-- .attributes -->
        <ul class="attributes">
            <li class="first">
                <h5>Web Design and Development Intern  <span class="duration"><i class="fa fa-calendar color"></i> 2017.8 - 2018.2</span></h5>
                <h6><span class="fa fa-briefcase"></span> 24/7 Teach</h6>
                <p>
                <ul>
                <li>Supported the development of our Online Learning Platform by using PHP, Angular JS</li>
                <li>Supported and upgraded Grading and Data analysis application and adjusted the display of website to
                    optimize the design more clean and user friendly</li>
                <li>Utilized the in-house development and project management tools</li>

            </ul>
                </p>
            </li>
            <li>
                <h5>Data Analyst Intern <span class="duration"><i class="fa fa-calendar color"></i> 2017.4 - 2017.6</span></h5>
                <h6><span class="fa fa-briefcase"></span> Autohome Inc.</h6>
                <p> <ul>
                <li>Tracked and monitored searching keywords weekly to update order of cars on homepage, detected and analysis
                    abnormal performance of DAU</li>
                <li>Gathered text data of review from users to create evaluation reports for 5 most popular middle-sized SUV,
                    assisted to implement new features of the personalized recommendation system by analyzing click rates, reading
                    time and volume of transactions</li>
                <li>Supported normalized relational database to ensure efficient analysis process resulted in cut down 30% searching
                    time</li>
                <li>Visualized reports to marketing group and team leaders, delivered solution to operation team</li>
                <li>Maintained the content of social media platforms, and managed content of Autohome APP resulted in increasing
                    nearly 4000 new users within two months</li>


            </ul></p>
            </li>

            <li>
                <h5>Business Analyst Intern <span class="duration"><i class="fa fa-calendar color"></i> 2016.6 - 2017.8</span></h5>
                <h6><span class="fa fa-briefcase"></span> Camelot Information System Inc.</h6>
                <p> <ul>
                <li>Completed documentation on twelve assigned systems and databases, including business rules, logic, and􀀁processes for
                    Yihaikerry company on the TWMS project</li>
                <li>Analyzed major retailer related warehouse operations, including performance and productivity data, error rates and their
                    root causes</li>
                <li>Finished independent research of current SAP system, focused on stocking functions to identify the data flow later
                    transfered to the new systems</li>
                <li>Prepared for team meeting and presentation weekly to team leaders and maintained direct communication with client</li>


            </ul></p>
            </li>

        </ul>
        <!-- /.attributes -->
        <br>
        
        <!-- .title_content -->
        <div class="title_content">
            <div class="text_content">Education</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <!-- .attributes -->
        <ul class="attributes">
            <li class="first">
                <h5>Master of Science<span class="duration"><i class="fa fa-calendar color"></i> 2015 - 2017</span></h5>
                <h6><span class="fa fa-book"></span> Depaul University</h6>
                <p>Chicago, IL, US</p>
                <h6><span class="fa fa-trophy"></span> Name of Institute</h6>

            </li>
            <li>
                <h5>Bachelor of Arts <span class="duration"><i class="fa fa-calendar color"></i> 2009 - 2013</span></h5>
                <h6><span class="fa fa-book"></span> Guangxi University</h6>
                <p>Nanning, Guangxi, China</p>
                <h6><span class="fa fa-trophy"></span> Name of Institute</h6>
            </li>
        </ul>
        <!-- /.attributes -->
        

        <!-- /.attributes -->
        <br>
        
    </div>
    <!-- /.resume-left -->
</div>

<div style="clear: both"></div>  
  
  
<!-- client reference -->


</div>
<!-- End .resume -->